.calculator {
    display: grid;
    grid-template-columns: 30% 65%;
    width: 100%;
    column-gap: 2rem;
    padding: 1rem;
  }
  
  .calculator h2 {
    font-size: 1.1rem;
  }
  
  .answer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    font-size: 1.3rem;
    background-color: grey;
    padding: 8px;
    color: white;
    width: 100%;
  }
  
  .operations {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: repeat(5, 40px);
  }
  
  button {
    cursor: pointer;
    border: 1px solid #c7c7c7;
    background-color: #e0e0e0;
  }
  
  button:hover {
    background-color: #e0e0e0b9;
  }
  
  button:active {
    background-color: #80808088;
  }
  
  .zero {
    grid-column: 1/span 2;
  }
  
  .maths {
    background-color: #f5913e;
  }
  
  .maths:hover {
    background-color: #ee832bc4;
  }
  
  .maths:active {
    background-color: rgba(82, 40, 3, 0.966);
  }
  
  @media screen and (max-width: 600px) {
    .calculator {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 2rem;
      padding: 0;
    }
  }
  