<<<<<<< HEAD
=======
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Application {
  width: 45vw;
}

.answer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 50px;
  background-color: grey;
  padding: 8px;
  color: white;
}

.operations {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: repeat(5, 60px);
}

button {
  cursor: pointer;
  border: 1px solid #c7c7c7;
  background-color: #e0e0e0;
}

button:hover {
  background-color: #e0e0e0b9;
}

button:active {
  background-color: #80808088;
}

.zero {
  grid-column: 1/span 2;
}

.maths {
  background-color: #f5913e;
}

.maths:hover {
  background-color: #ee832bc4;
}

.maths:active {
  background-color: rgba(82, 40, 3, 0.966);
}
>>>>>>> component
